

table {
	border: 1px solid black;
}

td, th {
	text-align: center;
	line-height: 2;
	border: 1px solid black;
}
td {
	padding: 2px 6px;
}


.tag {
	padding: 5px;
	margin: 0 5px;
	color: #ffffff;
	background-color: #ffa400;
	border-radius: 6px;
}
.solve-tag-after {
	content: '✔';
	padding: 5px;
	color: #ffffff;
	border-radius: 5px;
}
.solve-better:after {
	.solve-tag-after;
	background-color: #16a951;
}
.solve-notbetter:after {
	.solve-tag-after;
	background-color: #afdd22;
}
.unsolve:after {
	.solve-tag-after;
	background-color: #ed5736;
}

.td-left {
	text-align: left;
}
